* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/*--- Media Query for mobile device ---*/

@media(min-width:320px) {

	/* nav section */
	.nav-row {
		display: none;
		justify-content: space-between;
	}

	.nav-logo {
		display: none;
		justify-content: center;
		align-items: center;
	}

	.nav-list button {
		border: none;
	}



	/* food item */
	.item-row {
		font-size: 17px;
		padding-top: 30px
	}

	.food-item {
		display: flex;
		flex-wrap: wrap;
	}

	.food-item img {
		width: 50%;
		height: 30vh;
	}


	/* buttons */
	.btn-row {
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.btn-row h2 {
		font-size: 25px;
	}


	/* card */
	.col {
		width: 100%;
	}

	.col-card img {
		width: 100%;
		height: 20vh;
	}



	/* contact */
	.contact-col {
		width: 100%;

	}

	.contact-row {
		display: flex;
		flex-wrap: wrap;
		margin: 30px 30px 0px 30px;
		padding: 35px 0;
		text-align: center;
	}

}

/*--- Media Query for tablet device ---*/

@media(min-width:720px) {

	/* nav */
	.nav-row {
		display: flex;
		justify-content: space-between;
	}

	.nav-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}



	/* food item */
	.item-row {
		font-size: 24px;
		padding-top: 30px
	}

	.food-item {
		display: flex;
	}

	.food-item img {
		width: 33.3%;
		height: 17vh;
	}

	/* button */
	.btn-row {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.btn-row h2 {
		font-size: 25px;
	}

	/* card */
	.col {
		width: 33.3%;
	}

	.col-card img {
		width: 100%;
		height: 18vh;
	}




	/* contact */
	.contact-col {
		width: 20%;
	}

	.contact-row {
		display: flex;
		justify-content: space-evenly;
		margin: 30px 30px 0px 30px;
		padding: 35px 0;
	}

}

/*--- Media Query for laptop device ---*/

@media(min-width:1000px) {

	/* nav */
	.nav-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 22;
		background-color: #fff;
		box-shadow: 0 0 29px gray;
		padding: 5px 63px;
	}

	.nav-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}



	/* food item */
	.item-row {
		font-size: 24px;
		padding-top: 30px
	}

	.food-item {
		display: flex;
		flex-wrap: nowrap;
	}

	.food-item img {
		width: 50%;
		height: 30vh;
	}

	/* button */
	.btn-row {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.btn-row h2 {
		font-size: 25px;
	}

	/* card */
	.col {
		width: 33.3%;
	}

	.col-card img {
		width: 100%;
		height: 40vh;
	}



	/* contact */
	.contact-col {
		width: 20%;
	}

	.contact-row {
		display: flex;
		justify-content: space-evenly;
		margin: 30px 30px 0px 30px;
		padding: 35px 0;
	}

}






/* start nav section */

.nav-container {
	margin: auto;
	width: 90%;

}

.nav-logo img {
	width: 30%;
	height: 9vh;
}

.nav-logo h2 {
	padding-right: 12px;
}

.nav-list ul li {
	list-style-type: none;
	padding: 12px;
}

.nav-list ul {
	display: flex;
	align-items: center;
}

.nav-list p {
	background-color: #60b246;
	;
	padding: 3px 8px;
	border: 1px solid #60b246;
	;
	border-top-left-radius: 7px;
	border-top-right-radius: 8px;
}

.cartbtn {
	display: flex;
	gap: 4%;
}

.cartbtn button {
	border: none;
	background-color: snow;
	color: #000;
	font-size: 15px;
	font-weight: 700;
}

/* end nav section */




/* start owl section */

.owl-sec {
	background-color: black;
	padding-top: 31px;
	padding-left: 35px;
	margin: 69px 0 0 0;
}

/* end owl section */





/* start food item section */
.item-container {
	width: 90%;
	margin: auto;
}



/* end food item section */


/* start buttons */
.btn-container {
	width: 90%;
	margin: auto;
}

.btn-btn button {
	padding: 3px 20px;
	border-radius: 12px;
	border: 0px solid #8080809e;
}

.btn-btn button:hover {
	background-color: gray;
	color: white;
}



/* end button */






/* start product section */

.container {
	margin: auto;
	width: 90%;

}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-card {
	box-shadow: 0 0 10px #6a6464;
	margin: 15px;
	line-height: 1.6;
	overflow: hidden;

}

.col-card img:hover {
	transform: scale(1.1);
	cursor: pointer;
	overflow: hidden;
}

.col-card img {
	transition: 1s all ease;
}

.col-card h2 {
	padding-left: 13px;
	padding-top: 7px;
}

.col-card p {
	padding-left: 13px;
	font-size: 19px;
}

.rating-icon {
	display: flex;
}

.green {
	background-color: green;
	color: white;
	width: 19%;
	padding: 3px;
	margin: 5px;
}

.orange {
	background-color: orange;
	color: white;
	width: 19%;
	padding: 3px;
	margin: 5px;
}

.red {
	background-color: red;
	color: white;
	width: 19%;
	padding: 3px;
	margin: 5px;
}

.para-head {
	display: flex;
	margin: 5px;
	gap: 10%;
}

.ratings {
	display: flex;
	align-items: center;
	gap: 52%;
	padding: 0 13px 13px;

}

.bi-cart-dash {
	font-size: 16px;
	display: flex;
	gap: 12%;
	padding: 7px 12px;
	background-color: #000;
	color: #fff;
	border: none;

}

/* end product section */

/* start addtocart section */

.addtocart-sec {
	position: fixed;
    top: 0;
    right: -100%;
    z-index: 111;
    background-color: #fff;
    height: 100vh;
    width: 26%;
	transition: ease all 1s;
	overflow-y: scroll;
}
.active .addtocart-sec{
    right: 0;
	transition: ease all 1s;
}
.closeicon {
	position: relative;
	border-bottom: 1px solid #efefef;
}

.close {
	font-size: 29px;
	position: absolute;
	right: 0;
	top: -8px;
	right: 12px;
}

.closeicon p {
	margin: 32px;
	font-size: 17px;
	font-weight: 600;
}


.add-card img {
	width: 100px;
}

.add-card input {
	height: 23px;
	width: 37px;
}

.add-col {
	border-bottom: 1px solid #efefef;
}

.add-card {
	display: flex;
	align-items: center;
	gap: 9%;
	margin: 18px 13px;
}
.add-card p{
	font-size: 13px;
}
.title-detail p {
	font-size: 14px;
	font-weight: 500;
	margin: 6px 0;
}
.qty-detail{
	display: flex;
	align-items: center;
	gap: 4%;
}
.qty-detail p{
	background-color:#12a82f;
	color: #fff;
	padding:3px 12px;
	cursor: pointer;
}
.totalamount p{
	text-align: center;
    padding: 15px 3px;
    color: #fff;
    background-color: #000;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.totalamount{
	float: right;
    margin: 12px 3px;
}
/* end addtocart section */


/* start contact section */
.contact-sec {
	background-color: black;
	color: white;
}

.contact-col ul li {
	list-style-type: none;
	line-height: 1.7;
}

.contact-col h3 {
	color: gray;
	padding-bottom: 10px;
}

/* end contact section */